<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Either agent pool name or agent pool id shall be set here -->
    <add key="Agents.PoolName" value="" />
    <add key="Agents.PoolId" value="" />
    <!-- Azure DevOps instance name -->
    <add key="Azure.DevOpsInstance" value="" />
    <!-- Azure DevOps Personal Access Token (PAT) -->
    <add key="Azure.DevOpsPAT" value="" />
    <!-- Azure Service Principle data -->
    <add key="Azure.ServicePrincipleClientId" value=""/>
    <add key="Azure.ServicePrincipleClientSecret" value=""/>
    <add key="Azure.ServicePrincipleTenantId" value=""/>
    <!-- VMSS Azure data -->
    <add key="Azure.SubscriptionId" value=""/>
    <add key="Azure.VMSS.resourceGroupName" value=""/>
    <add key="Azure.VMSS.Name" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>